<div class="inner-container">
				<div class="dashboard-panel-header">
					<div>
						<span class="page-title">Salary Details</span>
					</div>
				</div>
				<div>
					<table class="physician-summary" st-table="rowCollection">
						<tbody>
							<tr class="summary-label">
								<td class="dashboard-summary-td">Amount</td>
								<td class="dashboard-summary-td">{{amount}}</td>
							</tr>
							<tr class="summary-label">
								<td class="dashboard-summary-td">Currency</td>
								<td class="dashboard-summary-td">{{currency}}</td>
							</tr>
							<tr class="summary-label">
								<td class="dashboard-summary-td">Month</td>
								<td class="dashboard-summary-td">{{month}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>