<div class="inner-container">
				<div class="dashboard-panel-header">
					<div>
						<span class="page-title">Profile</span>
					</div>
				</div>
				<div>
					<table class="physician-summary" st-table="rowCollection">
						<tbody>
							<tr class="summary-label">
								<td class="dashboard-summary-td">First Name</td>
								<td class="dashboard-summary-td">{{firstName}}</td>
							</tr>
							<tr class="summary-label">
								<td class="dashboard-summary-td">Last Name</td>
								<td class="dashboard-summary-td">{{lastName}}</td>
							</tr>
							<tr class="summary-label">
								<td class="dashboard-summary-td">Employee ID</td>
								<td class="dashboard-summary-td">{{id}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>